<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Published At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% for article in @articles -%>
    <tr>
      <td><%= article.id %></td>
      <td><%= h article.title %></td>
      <td><%= h article.tag_list %></td>
      <td><%= article.published_at && article.published_at.to_s(:db) %></td>
      <td><%= link_to 'Show', admin_article_path(article) %></td>
      <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
      <td><%= link_to 'Delete', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end -%>
  </tbody>
</table>

<br />

<%= link_to 'New article', new_admin_article_path %>
